# Android Emulator → 10.0.2.2 aponta para o localhost da máquina host
# Dispositivo físico → use o IP da máquina: http://<SEU_IP>:8080

API_URL=https://apidamas.clashapps.com

WEB_URL=https://damas.clashapps.com
